streamlit
langchain-groq
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
python-dotenv   
chromadb
langchain-chroma 
pymupdf
sentence-transformers
torchvision
protobuf<5.0.0